.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

 .site-header {
  background-color: rgba(0, 0, 0, .75);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}


.main-banner {
  height: 500px;
  background-size: 22px 22px;
}

.main-banner .overlay {
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
    background-image:
    radial-gradient(rgba(0,0,0,0.15) 20%, transparent 0), 
    radial-gradient(rgba(0,0,0,0.18) 20%, transparent 0);
   /* background-size: 22px 22px; */
  background-size: 6px 8px;

  /* background-size: 22px 22px; */

  z-index: 1;
}

.main-banner h1 {
  color: white;
  z-index: 2;
  font-family: 'Saira Condensed',sans-serif;
  text-shadow: 2px 2px #000;
}
.main_banner_sub_title {
  font-weight: 200;
  font-size: 25px; 
  color: white;
  font-family: 'Saira Condensed',sans-serif;  
  text-shadow: 2px 1px #000;
}


.cd_time_img {
  position: absolute;
  top: 0px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 30px;
  color: white;
  align-items: flex-end;
  height: 100%;
  /* box-shadow: inset 0px -120px 50px 0px rgba(0, 0, 0, 0.5); 
   */
   /* box-shadow: inset 0px -120px 50px 0px rgba(0, 0, 0, 0.55); */
  font-family: 'Saira Condensed',sans-serif;

  padding-bottom: 5px;
}
.cd_text_img {
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}
.cd_num_img {
  line-height: 35px;
  font-weight: 600;
  font-size: 45px;
}
.cd_name_img {
  position: absolute;
  top: 27%;
  right : 0;
  left: 0;
  padding: 0 15px;
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: 500;
  font-family: 'Saira Condensed',sans-serif;
  z-index: 1;
  text-transform: uppercase;
}
.cd_name_2_img {
  font-weight: 200;
  position: absolute;  
  font-size: 25px; 
  color: white;
  top: 43%;
  right : 0;
  left: 0;
  font-family: 'Saira Condensed',sans-serif;  
  text-align: center;
  text-transform: uppercase;
}


.carousel_shadow {
  box-shadow: 0px 3px 10px 3px #d4d4d4;
}

.block-image {
  height: 100%;
  width: 100%;
}

.countdown-block {
  height: 18em;
  transition: ease-in-out 400ms; /*animation*/
}

.countdown-block:hover {
  box-shadow: inset 0px 1px 5px 145px rgba(0, 0, 0, 0.5);
}
.bg_img_clock {
  background-image: url('../img/clk_bg1.png');
  background-size: cover;
}